name: flutter_application_1
description: A new Flutter project.
publish_to: 'none'
version: 0.1.0

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  nb_utils: ^6.1.2
  flutter_svg: ^2.0.9
  dio: ^5.4.1
  flutter_bloc: ^8.1.4
  get_it: ^7.6.7
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  build_runner: ^2.3.3
  
flutter:
  uses-material-design: true
  
  assets:
    - assets/icons/
    - assets/images/
